.parent
{
    display: flex;
    justify-content: space-around;
}

body
{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container {
    align-self: center;
}

.logo
{
    height: 25%!important;
    width: 20%;
}

td{
    padding: 10px;
}

td:hover{
    background-color: lightblue;
}

.tdSelected{
    background-color: lightblue;
}

.findMembersContainer{
    height: 100vh;
    width: 100vw;
}

.findBtn{
    border-radius: 20px;
}

.oldie body:after {
    content: 'Sorry! Your browser does not support web components!';
    position: fixed;
    background: #fbfbc8;
    color: #FD6563;
    top: 0;
    width: 100%;
    padding: 1.2em 0;
    line-height: 1.4;
    text-align: center;
    z-index: 99;
}

.oldie css-doodle {
    visibility: hidden;
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
}

#searchMemberContainer
{
    height: 100%;
    width: 100%;
}